<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>CF Parser</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body>
        <h1 style="margin: auto; width: 50%;">List of all the problems that you haven't solved sorted in decreasing order of solved count :</h1>
        <ul class="list-group" style="margin: auto; width: 50%;">
            <% for (let problem of problemList) { %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="https://codeforces.com/contest/<%= problem.contestId %>/problem/<%= problem.index %>" target="_blank"><%= problem.contestId + problem.index%></a>
                    <span class="badge bg-primary rounded-pill"><%= problem.solvedCount %></span>
                </li>
            <% } %>
        </ul>
    </body>
</html>